name: popeye

services:
  poll:
    build: ./poll
    ports:
      - "5000:80"
    environment:
      REDIS_HOST: redis
    networks:
      - poll-tier
    depends_on:
      - redis
    restart: always

  result:
    build: ./result
    ports:
      - "5001:80"
    environment:
      POSTGRES_HOST: db
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - result-tier
    depends_on:
      - db
    restart: always

  worker:
    build: ./worker
    environment:
      REDIS_HOST: redis
      POSTGRES_HOST: db
      POSTGRES_PORT: ${POSTGRES_PORT}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    networks:
      - back-tier
    depends_on:
      - redis
      - db
    restart: always

  redis:
    image: redis:alpine
    networks:
      - poll-tier
      - back-tier
    restart: always
    ports:
      - "6379:6379"

  db:
    image: postgres:alpine
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - db-data:/var/lib/postgresql/data
      - ./schema.sql:/docker-entrypoint-initdb.d/schema.sql
    networks:
      - result-tier
      - back-tier
    restart: always

networks:
  poll-tier:
  result-tier:
  back-tier:

volumes:
  db-data:
    name: db-data
